.navbar {
  width: 100%;
  padding: 15px 30px;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 10;
  color: white;
}

.nav-links a {
  margin-left: 20px;
  text-decoration: none;
  color: #f5f5f5;
  font-weight: bold;
}

.nav-links a:hover {
  color: #ffcc00;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}
